/node_modules
/public/hot
/public/storage
/public/scripts/*.js
/storage/*.key
/storage/framework/laravel-excel
/storage/document/*.*
/vendor
.DS_Store
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode